@function rem($value) {
  $remValue: ($value / 16) + rem;
  @return $remValue;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #f3f6fc;
  font-family: "Titillium Web", sans-serif;
}

.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  place-content: center;
  height: 100%;
  width: 100%;
  padding: 50px 0px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
