.header {
  background-color: #fcfcfc;
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 20px 0px;
  border-bottom: solid 2px #ffc500;

  &__icon {
    height: 100px;
    width: 200px;
    transition: all 0.5s;

    &:hover {
      transform: scale(0.96);
    }
  }
}

@media (max-width: 640px) {
  .header {
    padding: 10px 0px;
  }

  .header__icon {
    height: 60px;
    width: 120px;
  }
}
