.footer {
  background-color: #fcfcfc;
  color: #383838;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-shrink: 0;
  width: 100vw;
  height: fit-content;
  padding: 40px;

  &__social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;

    &--icon-color {
      fill: #383838;
    }
  }

  &__link {
    color: #383838;
  }
}

@media (max-width: 1024px) {
  .footer {
    padding-top: 20px;
    padding-bottom: 80px;
    height: fit-content;
  }
}
