.desktop {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 0px;
  width: 60px;
  background-color: #fcfcfc;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  transition: width 0.3s;
  overflow: hidden;
  box-shadow: 5px 0px 15px -3px rgba(0, 0, 0, 0.1);
  z-index: 50;

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    margin: 0;
    transition: all 0.5s;
  }

  &__button-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  &--expanded {
    width: 200px;

    .desktop__list {
      padding: 0px 20px;
      margin: 0;
      align-items: start;
    }
  }
}

.list-item {
  padding: 15px 10px;

  &__link {
    display: flex;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    color: #333;
    cursor: pointer;
  }
}

.button {
  background-color: transparent;
  padding-top: 3px;
  border: none;
  cursor: pointer;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.5s;

  &--expanded {
    transform: rotate(180deg);
  }
}

.mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: #fcfcfc;
  height: 60px;
  position: fixed;
  left: 0;
  bottom: 0;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 5px 0px 15px -3px rgba(0, 0, 0, 0.1);
  z-index: 50;

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
    padding-top: 4px;
    list-style-type: none;
  }
}
